body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  background: black;
}

/* contenedor */
.container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* video tipo cover real */
video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* header */
.header {
  position: absolute;
  top: 40px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.header h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 0.95;
  color: white;
  text-shadow: 0 0 20px black;
}

.header span {
  color: #E30613;
}

/* inacapito */
#inacapito {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 500px;
  pointer-events: none;
}

/* CONTROLES INFERIORES */
.controls {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* botón cámara */
.main {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 5px solid white;
  background: rgba(255,255,255,0.1);
  font-size: 28px;
}

/* botón cambiar */
.mini {
  position: absolute;
  left: 20px;
  bottom: 10px;
  background: rgba(0,0,0,0.6);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
}

/* animación */
.main:active {
  transform: scale(0.9);
}
