body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
}

/* cámara */
video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* header estilo instagram */
.header {
  position: fixed;
  top: 30px;
  width: 100%;
  text-align: center;
  color: white;
}

.header h1 {
  font-size: 28px;
  font-weight: bold;
  text-shadow: 0 0 10px black;
}

.header span {
  color: #E30613;
}

/* inacapito GRANDE */
#inacapito {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  max-width: 400px;
}

/* botones */
.controls {
  position: fixed;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

button {
  background: #E30613;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  font-weight: bold;
}
