body {
  margin: 0;
  background: black;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* VIDEO FULL */
video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXTO */
.overlay-text {
  position: absolute;
  top: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-box {
  background: rgba(0,0,0,0.4);
  padding: 12px 24px;
  border-radius: 25px;
  text-align: center;
  backdrop-filter: blur(8px);
}

.text-box span {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1;
}

.text-box .inacap {
  color: #E30613;
}

/* INACAPITO */
#inacapito {
  position: absolute;
  bottom: -5%; /* 🔥 se “sale” */
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  pointer-events: none;
}

/* BOTONES */
.controls {
  position: absolute;
  bottom: 22%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.controls button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  font-size: 26px;
}
